#banner {
    height: 50px;
    width: 100%;
    background-color: #35A9A6;
    font-weight: bold;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 5px;
}

h2 {
  border-top: 2px solid grey;
  border-bottom: 2px solid #859DE7;
  opacity: 50%;
}

p {
    padding-left: 15em;
    padding-right: 15em;
}

.jdescrip {
    text-align: center;
}

ul{
    text-align: left;
}

h3 {
    text-align: left;
}
h4 {
    text-align: left;
}
h5{
    text-align: left;
}

#contact_form {
    border: 1px solid #F8EEEE;
    border-radius: 3px;
    height: 350px;
    width: 300px;
    background: #3D8E9F;
    padding: 4em;
    margin-left: 30em;
}

.jdescrip, .myname {
    line-height: .2;
}




